.main {
	width: 100%;
	min-height: 100%;
	margin: 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70%;
	width: 100%;
	background: linear-gradient(135deg, darkSlateBlue,  darkRed, oliveDrab);
	color: white;
	padding: 0% 1% 0% 2%;
}
.logo{
    width: 10%;
}
.iconLink{
	color: #d69723;
	font-size: 135%;
}