.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5% auto;
  max-width: 800px;
  column-count: 2;
}

.image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px 0px 0px 10px;
}

.textContainer {
  margin: 10px;
  text-align: left; 
}

.name {
  font-weight: 600;
}

.description {
  font-weight: 300;
  font-size: 14px;
}
