/* MainNews.module.css */
.card {
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px); /* 25% de la largeur moins les marges */
  margin: 10px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.textContainer {
  margin: 10px 0px;
}

.name {
  font-weight: 600;
}

.description {
  font-weight: 300;
  font-size: 14px;
}
